# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
Main.xml

# Environment
.env
.venv/
venv310/
venv313/
env/
ENV/

# Visual output
trainingVisuel/
*.png

# IDE / Editor
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log
